h1{
    font-weight: 500;
}
.text-thicker{
    font-weight: 500;
}
.increase{
    color: green;
}
.decrease{
    color: red;
}
.no-holding{
    background-color:#FEF4CD;
    border-radius: 2px;
    font-size: small;
}
.no-caps {
    text-transform: none !important;
}
div .card-footer button{
    font-size: 0.8rem;
}
.no-border {
    border: none !important;
}
.btn-outline-secondary.no-border:hover, .btn-outline-secondary.no-border:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
.card-header:hover{
    cursor: pointer;
}